{% extends "predictions_base.html" %}

{% block prediction_form %}

    {% for player in all_players %}
        <div class="form-group">
            <label for="player_{{ loop.index }}">
                {{ player.name }}
            </label>

            <input 
                type="number"
                name="actual_pick_{{ player.id }}"
                id="player_{{ loop.index }}"
                value="{{ actual_picks[player.id] if actual_picks[player.id] is not none else '' }}"
                placeholder="tbd"
            >
        </div>

        <hr>

        <form method="POST" action="{{ url_for('draft.seed_players') }}">
            <button type="submit" class="btn btn-warning">
                Seed Players
            </button>
        </form>

        <form method="POST" action="{{ url_for('draft.send_draft_emails') }}">
            <button type="submit" class="btn btn-primary">
                Send Draft Emails
            </button>
        </form>
    {% endfor %}

{% endblock %}